.mat-cell {
    transition: 100ms ease;
}

.mat-cell:hover:not(.elementDetail) {
    background: whitesmoke;
    cursor: pointer;
}
.mat-cell:active:not(.elementDetail) {
    background: #efefef;
}

.success {
    padding-left: 5px;
    background-color: rgba(0, 128, 0, 0.5);
}
.wrong {
    padding-left: 5px;
    background-color: rgba(255, 0, 0, 0.5);
}

.summarizeTable {
    width: 100%;
    overflow-x: scroll;
}

.elementDetail {
    overflow: hidden;
    display: grid;
    grid: auto / 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}
tr.detailRow {
    height: 0;
}
.detailedList {
    border: 1px solid black;
}