.formInput {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.usersTable{
    display:grid;
}

@media screen and (max-width: 400px){
    .formInput {
        min-width: 100%;
        margin: 0rem;
    }
}