<mat-card *ngIf="userdata.person.type == 'Coordinador'">

    <mat-card-header>
        <mat-card-title>Crear Votación</mat-card-title>
        <mat-card-subtitle>Debe diligenciar todos los campos</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="surveyConfig">

        <div>
            <mat-form-field appearance="outline" class="formField">
                <mat-label>Titulo de la encuesta</mat-label>
                <input matInput [(ngModel)]="currentSurvey.title" placeholder="Digite el título de la encuesta" name="title" required minlength="3">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="formField">
                <mat-label>Elija fecha de inicio</mat-label>
                <input matInput [matDatepicker]="pickerStart" [(ngModel)]="currentSurvey.dateStart" name="dateStart" required minlength="3">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="formField">
                <mat-label>Elija fecha de vencimiento</mat-label>
                <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="currentSurvey.dateEnd" name="dateEnd" required minlength="3">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="formField" rows="10">
                <mat-label>Escriba una descripción</mat-label>
                <textarea matInput placeholder="Esta votación es sobre..." [(ngModel)]="currentSurvey.description"></textarea>
            </mat-form-field>

            <button mat-raised-button color="accent" (click)="createSurvey()">
                <mat-icon>done</mat-icon>
                Crear
            </button>
            <button mat-raised-button color="link" (click)="addOption()">
                <mat-icon>add</mat-icon>
                Agregar
            </button>
        </div>

        <div>
            <mat-list>
                <mat-list-item *ngFor="let answer of currentSurvey.options;let i = index" class="optionsList">
                    <mat-form-field>
                        <mat-label>Digite la opción {{i + 1}}</mat-label>
                        <input
                            matInput
                            class="inputOption"
                            required
                            [(ngModel)]="currentSurvey.options[i].name"
                        >
                        <button
                            matSuffix
                            mat-icon-button
                            aria-label="Eliminar"
                            color="warn"
                            (click)="removeOption(i)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
        </div>

    </mat-card-content>

</mat-card>

<mat-card class="surveysCard">

    <mat-card-header>
        <mat-card-title>Votaciones</mat-card-title>
        <mat-card-subtitle>Visualice las votaciones vigentes</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let survey of allSurveys; let i = index" [expanded]="!survey.state">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{survey.title}}
                    </mat-panel-title>
                    <mat-panel-description>
                        Votación {{survey.state ? 'cerrada' : 'abierta'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
    
                <div>
                    
                    <mat-chip-list>
                        <mat-chip>
                            Inicia: {{survey.dateStart}}
                        </mat-chip>
                        <mat-chip>
                            Vence: {{survey.dateEnd}}
                        </mat-chip>
                        <mat-chip [color]="survey.state ? 'warn' : 'primary'" selected>
                            Estado: {{survey.state ? 'Cerrada' : 'Abierta'}}
                        </mat-chip>
                    </mat-chip-list>
                    <p>
                        {{survey.description}}
                    </p>
                    <mat-divider></mat-divider>
                    <mat-selection-list [multiple]="false" [disabled]="survey.state">
                        <mat-list-option
                            *ngFor="let votes of survey.options; let l = index"
                            [class]="votes.selected ? 'yesVoted' : 'notVoted'"
                            [value]="votes.id"
                            (click)="sendVote(i, l)"
                        >
                            <mat-icon mat-list-icon>
                                {{votes.selected ? 'how_to_vote' : 'block'}}
                            </mat-icon>
                            <div mat-line>{{votes.name}}</div>
                            <div mat-line>Conteo de votos: {{votes.count}}</div>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
    
            </mat-expansion-panel>
          </mat-accordion>
    </mat-card-content>
      
</mat-card>