<h2 mat-dialog-title>
  Observaciones del estudiante {{data.fullname}}
  <button mat-icon-button mat-dialog-close style="float:right"><mat-icon>close</mat-icon></button>
</h2>


<mat-dialog-content class="mat-typography mat-elevation-z2">
  <mat-card class="observationForm">
    <mat-card-subtitle><b>Crear observación</b></mat-card-subtitle>
    <mat-card-content>
      <form>
        <mat-form-field appearance="outline" class="observationFormField">
          <mat-label>Fecha Creación</mat-label>
          <input matInput [matDatepicker]="formpicker" name="createdDate" [(ngModel)]="newObservation.createdDate">
          <mat-datepicker-toggle matSuffix [for]="formpicker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #formpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="observationFormField">
          <mat-label>Creado por:</mat-label>
          <input matInput disabled name="author" [(ngModel)]="newObservation.author">
        </mat-form-field>
        <mat-form-field appearance="outline" class="observationFormField">
          <mat-label>Detalle</mat-label>
          <textarea matInput placeholder="Comentario de la observación" name="description" [(ngModel)]="newObservation.description" (blur)="unlockSend()"></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" [disabled]="disabledCreateObservation" (click)="createObservation(newObservation)">Agregar</button>
    </mat-card-actions>
  </mat-card>

  <table mat-table class="mat-elevation-z2" [dataSource]="data.observations">
    <ng-container matColumnDef="id_observation">
        <th mat-header-cell *matHeaderCellDef>
          <b>ID Observación</b>
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.idOb}}
        </td>
    </ng-container>
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef>
        <b>Fecha Creación</b>
      </th>
      <td mat-cell *matCellDef="let row">
        {{row.createdDate}}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>
        <b>Detalle</b>
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="eachObservationField">
          <mat-form-field>
            <mat-label>Detalle</mat-label>
            <textarea matInput placeholder="Comentario de la observación" [(ngModel)]="row.description">{{row.description}}</textarea>
          </mat-form-field>  
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>
        <b>Creado por</b>
      </th>
      <td mat-cell *matCellDef="let row">
        {{row.author}}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <b>Acciones</b>
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="warn" (click)="updateObservation(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-raised-button color="accent" (click)="deleteObservation(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="data.labels"></tr>
    <tr mat-row *matRowDef="let row; columns: data.labels;"></tr>
</table>

</mat-dialog-content>
<mat-dialog-actions>
</mat-dialog-actions>