.graphCard {
    margin-bottom: 50px;
}

.graphDescription {
    text-align: left;
}

.superiorText {
    color: rgb(8, 156, 0);
}
.highText {
    color: rgb(0, 72, 187);
}
.basicText {
    color: rgb(216, 216, 0);
}
.lowText {
    color: rgb(182, 0, 0);
}
